<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List VueJS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="./assets/css/style.css">

</head>

<body>

    <h1 class="text-center">TO DO LIST</h1>


    <div id="app">


        <div class="container text-center mt-5 ">
            <div class="input-group mb-3 w_40 m-auto">
                <input type="text" class="form-control border border-success" placeholder="Inserisci una task!"
                    aria-label="Recipient's username" aria-describedby="button-addon2" v-model="task" @keyup.enter="addTasks">
                <button class="btn btn-outline-success" type="button" id="button-addon2"
                    @click="addTasks">Aggiungi Task</button>
            </div>
        </div>


        <div class="card w_40 m-auto mt-5 ">
            <div class="card-body">
                <ol v-if="tasks.length > 0">
                    <li v-for="(task ,index) in tasks" :class="task.done ? 'text-decoration-line-through' : '' ">
                        {{task.text}}
                        <i class="fa-solid fa-circle-minus text-danger ms-2" @click="removeTask(index)"></i>
                        <i class="fa-solid fa-circle-check ms-2" style="color: #17d714;" @click="taskDone(index)"></i>
                    </li>
                </ol>
            </div>
        </div>
    </div>








    </div>















    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="./assets/js/main.js"></script>

</body>

</html>